body {
    background-color: grey;
}

header h1 {
    background-color: white;
    text-align: center;
    padding: 10px;
}

div.post {
    background-color: white;
}

div.post img {
    width: 100%;
}

div.container {
    width: 600px;
    margin: auto;
}